VITE_SUPABASE_URL=https://udrzyuaicklzvyfwrbil.supabase.co
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkcnp5dWFpY2tsenZ5ZndyYmlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAxMTgyOTcsImV4cCI6MjA3NTY5NDI5N30.52EJ2nMhm7rDobKXqQ83F1bSOT_9kEAzfIUMUIjHnrM"